.DS_Store
bug1.txt
bug2.txt
clinic.py
cpp.py
*.h
dopuke.py
dumpstate.py
postgre.log
postgres.log
pukelog.txt
setup
stateguts.txt
traceback.log
www.txt
*.o
__pycache__
__pycache__/*
build
build/*
*.sublime-workspace